extends base

block content 
    if errorMessage
        p=errorMessage
    img(src=`${loggedInUser.avatarUrl ? "" :  "/"}` + loggedInUser.avatarUrl, width="100", height="100")
    form(method="POST", enctype="multipart/form-data").edit-profile__form
        // name을 설정해야 req.body로 접근할 수 있음
        // accept=".png, .jpg, .jpeg" 로 설정하여 svg같은 이미지 파일은 올리지 못하게 막을 수 있음
        label(for="avatar") Avatar 
        input(type="file", id="avatar", name="avatar", accept="image/*")
        input(name="name", placeholder="Name", type="text", required, value=loggedInUser.name)
        input(name="email", placeholder="Email", type="email", required, value=loggedInUser.email)
        input(name="username", placeholder="Username", type="text", required, value=loggedInUser.username)
        input(name="location", placeholder="Location", type="text", required, value=loggedInUser.location)
        input(type="submit", value="Update Profile")
        if !loggedInUser.socialOnly
            div.edit-profile__password
                a(href="change-password") Change Password &rarr;