extends base

block content 
    if errorMessage
        p=errorMessage
    form(method="POST")
        // name을 설정해야 req.body로 접근할 수 있음
        input(name="name", placeholder="Name", type="text", required, value=loggedInUser.name)
        input(name="email", placeholder="Email", type="email", required, value=loggedInUser.email)
        input(name="username", placeholder="Username", type="text", required, value=loggedInUser.username)
        input(name="location", placeholder="Location", type="text", required, value=loggedInUser.location)
        input(type="submit", value="Update Profile")
        if !loggedInUser.socialOnly
            hr
            a(href="change-password") Change Password &rarr;